# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
libs/DaNK-Modularity-master-ed9035eecf4d588141cd405a5e9eb482a0edf3b2.zip
libs/CodeChickenLib-1.10.2-2.2.3.57-universal.jar
libs/Modularity-[1.10.2]-0.1.0-pre-release-10.jar
libs/Modularity-[1.10.2]-0.1.0-pre-release-10.jar
